################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Implementation/bin
/DesignPatterns/bin/Debug
/DesignPatterns/obj/Debug
/Implementation/obj/Debug
/.vs
/Implementation.Tests/bin/Debug
/Implementation.Tests/obj/Debug
/packages
/Implementation/App_Data
